<%= form_with model: business do |f| %>

    <%= render 'shared/error_messages', f: f %>
    
    <div class="mb-3">
        <%= f.label :business_category, class: 'fw-bold mb-2' %>
        <%= f.select :category_id, Category.all.pluck(:name, :id), { include_blank: "Select category" }, class: "form-control" %>
    </div>
    
    <div class="mb-3">
        <%= f.label :name, class: 'fw-bold mb-2' %>
        <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="mb-3">
        <%= f.label :description, class: 'fw-bold mb-2' %>
        <%= f.text_area :description, placeholder: "Describe your business", class: "w-100 form-control mb-4", style: 'height: 10em' %>
    </div>

    <div class="text-end">
        <%= link_to :back, class: "btn btn-light rounded-1 border me-2" do %>
            <%= image_tag "x.png", width: "19" %>
        <% end %>

        <%= button_tag type: 'Submit', class: "btn btn-success rounded-1 border" do %>
            <%= image_tag "check.png", width: "19" %>
        <% end %>
    </div>
<% end %>