<%= form_with model: [business, store] do |f| %>
    <%= render 'shared/error_messages', f: f %>

    <div class="mb-3">
        <%= f.label :name, class: 'fw-bold mb-2' %>
        <%= f.text_field :name, class: 'form-control' %>
    </div>

    <%= link_to business_stores_path(@business), class: "btn btn-light rounded-1 border me-2" do %>
        <%= image_tag "x.png", width: "19" %>
    <% end %>

    <%= button_tag type: 'Submit', class: "btn btn-success rounded-1 border" do %>
        <%= image_tag "check.png", width: "19" %>
    <% end %>
<% end %>