<li class="nav-item mx-2">
    <p class="m-0 fw-bold" style="font-size: 1em">

        <%# business links start %>
        <% if controller.controller_name == 'businesses' && action_name == 'index' %>
            Businesses - <%= current_user.businesses_count %>
        <% elsif controller.controller_name == 'businesses' && action_name == 'show' %>
            <%= link_to 'My Businesses', businesses_path %> <i class="bi bi-chevron-right" style="font-size: 10px"></i> <i><%= @business.name %></i>
        <% elsif controller.controller_name == 'businesses' && action_name == 'edit' %>
            <%= link_to 'My Businesses', businesses_path %> <i class="bi bi-chevron-right" style="font-size: 10px"></i> <%= link_to @business.name, @business %> <i class="bi bi-chevron-right" style="font-size: 10px"></i> <i>Edit <%= @business.name %></i>
        <%# business links end %>

        <%# product links start %>
        <% elsif controller.controller_name == 'products' && action_name == 'index' %>
            <%= link_to @business.name, @business %> <i class="bi bi-chevron-right" style="font-size: 10px"></i> <i><%= pluralize(@business.products_count, 'product') %></i>
        <% elsif controller.controller_name == 'products' && action_name == 'show' %>
            <%= link_to @business.name, @business %> <i class="bi bi-chevron-right" style="font-size: 10px"></i> <%= link_to 'All Products', business_products_path(@business) %> <i class="bi bi-chevron-right" style="font-size: 10px"></i> <i><%= @product.name %> </i>
        <% elsif controller.controller_name == 'products' && action_name == 'new' %>
            <%= link_to @business.name, @business %> <i class="bi bi-chevron-right" style="font-size: 10px"></i> <%= link_to 'All Products', business_products_path(@business) %> <i class="bi bi-chevron-right" style="font-size: 10px"></i> <i>New Product</i>
        <% elsif controller.controller_name == 'products' && action_name == 'edit' %>
             <%= link_to @business.name, @business %> <i class="bi bi-chevron-right" style="font-size: 10px"></i> <%= link_to 'All Products', business_products_path(@business) %> <i class="bi bi-chevron-right" style="font-size: 10px"></i> <%= link_to @product.name, [@business, @product] %> <i class="bi bi-chevron-right" style="font-size: 10px"></i> <i>Edit product</i>
        <%# product links end %>

        <%# store links start %>
        <% elsif controller.controller_name == 'stores' && action_name == 'index' %>
            <%= link_to @business.name, @business %> <i class="bi bi-chevron-right" style="font-size: 10px"></i> <i><%= pluralize(@business.stores_count, 'store') %></i>
        <% elsif controller.controller_name == 'stores' && action_name == 'show' %>
            <%= link_to @business.name, @business %> <i class="bi bi-chevron-right" style="font-size: 10px"></i> <%= link_to 'All stores', business_stores_path(@business) %> <i class="bi bi-chevron-right" style="font-size: 10px"></i> <i><%= @store.name %> </i>
        <% elsif controller.controller_name == 'stores' && action_name == 'new' %>
            <%= link_to @business.name, @business %> <i class="bi bi-chevron-right" style="font-size: 10px"></i> <%= link_to 'All stores', business_stores_path(@business) %> <i class="bi bi-chevron-right" style="font-size: 10px"></i> <i>New store</i>
        <% elsif controller.controller_name == 'stores' && action_name == 'edit' %>
             <%= link_to @business.name, @business %> <i class="bi bi-chevron-right" style="font-size: 10px"></i> <%= link_to 'All stores', business_stores_path(@business) %> <i class="bi bi-chevron-right" style="font-size: 10px"></i> <%= link_to @store.name, [@business, @store] %> <i class="bi bi-chevron-right" style="font-size: 10px"></i> <i>Edit store</i>
        <%# store links ends %>

        <%# customer links start %>
        <% elsif controller.controller_name == 'customers' && action_name == 'index' %>
            <%= link_to @business.name, @business %> <i class="bi bi-chevron-right" style="font-size: 10px"></i> <i><%= pluralize(@business.customers_count, 'customer') %></i>
        <% elsif controller.controller_name == 'customers' && action_name == 'show' %>
            <%= link_to @business.name, @business %> <i class="bi bi-chevron-right" style="font-size: 10px"></i> <%= link_to 'All customers', business_customers_path(@business) %> <i class="bi bi-chevron-right" style="font-size: 10px"></i> <i><%= @customer.name %> </i>
        <% elsif controller.controller_name == 'customers' && action_name == 'new' %>
            <%= link_to @business.name, @business %> <i class="bi bi-chevron-right" style="font-size: 10px"></i> <%= link_to 'All customers', business_customers_path(@business) %> <i class="bi bi-chevron-right" style="font-size: 10px"></i> <i>New customer</i>
        <% elsif controller.controller_name == 'customers' && action_name == 'edit' %>
             <%= link_to @business.name, @business %> <i class="bi bi-chevron-right" style="font-size: 10px"></i> <%= link_to 'All customers', business_customers_path(@business) %> <i class="bi bi-chevron-right" style="font-size: 10px"></i> <%= link_to @customer.name, [@business, @store] %> <i class="bi bi-chevron-right" style="font-size: 10px"></i> <i>Edit customer</i>
        <%# customer links end %>
        <% end %>
    </p>
</li>