<li class="nav-item">
    <p class="m-0 fw-medium" style="font-size: 1.2em">
        <% if controller.controller_name == 'businesses' && action_name == 'index' %>
            Businesses - <%= @businesses.count %>
        <% elsif controller.controller_name == 'businesses' && action_name == 'show' %>
            <%= link_to 'My Businesses', businesses_path %> <i class="bi bi-chevron-right" style="font-size: 10px"></i> <%= @business.name %>
        <% elsif controller.controller_name == 'businesses' && action_name == 'edit' %>
            <%= link_to 'My Businesses', businesses_path %> <i class="bi bi-chevron-right" style="font-size: 10px"></i> <%= link_to @business.name, @business %> <i class="bi bi-chevron-right" style="font-size: 10px"></i> Edit <%= @business.name %>
        <% elsif controller.controller_name == 'products' && action_name == 'index' %>
            <%= link_to @business.name, @business %> <i class="bi bi-chevron-right" style="font-size: 10px"></i> All Products
        <% end %>
    </p>
</li>