<% provide(:title, "#{@business.customers_count} products of #{@business.name}") %>

<div class="container-fluid bg-white py-3">
    <div class="d-flex justify-content-between header">
        <div class="first-col d-flex align-items-center">
            <div class="dropdown me-2">
                <a class="btn rounded-1 border fw-bold" style="background: #f5f5f5; font-size: 13px" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-filter-square"></i>
                </a>

                <ul class="dropdown-menu rounded-1">
                    <li><a class="dropdown-item" href="#">Complete Payment</a></li>
                    <li><a class="dropdown-item" href="#">Partial Debtors</a></li>
                    <li><a class="dropdown-item" href="#">100% Debtors</a></li>
                </ul>
            </div>

            <div class="input">
                <input type="text" class="form-control rounded-1" placeholder="Username" aria-label="Name" aria-describedby="basic-addon1">
            </div>
        </div>

        <div class="second-col">
            <%= link_to new_business_customer_path(@business), class: 'btn btn-success rounded-1 header-btn', style: "font-size: 13px", data: { turbo_frame: dom_id(Customer.new) } do %>
                <i class="bi bi-plus-lg"></i>
                Add Customer
            <% end %>
        </div>
    </div>
</div>


<div class="container d-block py-4">
    <h1 class="mb-3 h3">Customers</h1>
    
    <%= turbo_frame_tag Customer.new do %>
        <% if @customers.none? %>
            <%= render 'customers/empty_state' %>
        <% end %>
    <% end %>
    
    <%= turbo_frame_tag "customers" do %>
        <%= render @customers %>
    <% end %>
</div>