<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%#= javascript_include_tag 'custom/sidebar.js' %>
  </head>

  <body>
    <div class="main-container d-flex">
      <div class="h-100">
        <%= render 'layouts/sidebar' %>
      </div>

      <div style="width: 100vw;">
        <%= render 'layouts/navbar' %>

        <div id="flash" class="flash">
          <%= render "layouts/flash" %>
        </div>
        
        <div class="fixed-sidebar-margin">
          <%= yield %>
        </div>
      </div>
  </body>
</html>
